@font-face {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    src: local(IbmPlexSans),
         url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-weight: 600;
    src: local(ImbPlexSans),
         url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-weight: 500;
    src: local(ImbPlexSans),
         url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");
}


@font-face {
    font-family: "IBM Plex Sans";
    font-weight: 300;
    src: local(ImbPlexSans),
         url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
}

body {
    padding: 0;
    margin: 0;

    font-family: "IBM Plex Sans", "Arial", sans-serif;
    vertical-align: top;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}

.table__row_color_green {
    background-color: #A3CC40;

    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.table__col {
    padding: 15px 10px 12px;
}

.table__col_decorated {
    padding-left: 80px;
}

.table__col_color_dark-grey {
    background-color: #373737;
}

.table__col_color_grey {
    background-color: #4C4D4F;
}