.feedback {
  padding-bottom: 5.45rem;

  &__inner {
    width: 82%;
    padding: 2.81rem 4.5rem 3rem;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 8px 0.81rem 39px 0 rgba(185, 185, 185, 0.37);
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;


    background-image: linear-gradient(270deg, #FFFFFF 12.2%, rgba(30, 30, 30, 0) 100%), url("../../../images/feedback-photo.jpg");
    background-position: 27px 0, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 387px 100%, 414px;

  }

  &__title {
    font-size: 2.27rem;
    margin: 0 0 1.81rem;
    text-align: center;
  }
}

.feedback-form {
  width: 31.27rem;

  &__name {
    margin: 0 0 3rem;
  }

  &__place {
    margin: 0 0 2.72rem;
  }

  &__review-field {
    margin: 0 0 2.25rem;
    min-height: 120px;
  }

  &__policy {
    margin: 0 0 4.18rem;
  }

  &__button {
    width: 100%;
    padding: 1.54rem 1.36rem 1.36rem;
    font-size: 1.81rem;
    box-sizing: border-box;
    border: 0;
  }
}

.form-field {
  width: 100%;
  padding: 1.09rem 1.36rem 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  background-color: #DEDEDE;

  font-size: 1.36rem;
  color: #A1A1A1;
}

.feedback-select {
  appearance: none;

  background: #DEDEDE url("../../../images/select-arrow.svg") no-repeat center right 12px;

}

.checkbox-field {

  &__checkbox {
    &:checked + .checkbox-field__label::before {
      background: url("../../../images/checkbox-icon.png") no-repeat center;
      background-size: 16px 10px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 0.9rem;

    &::before {
      content: "";

      width: 18px;
      height: 17px;
      margin-right: 0.54rem;
      border: 1px solid #A3CC40;
      border-radius: 5px;
    }
  }
}