.header_gradient {
  background: linear-gradient(89.92deg, #251A1B 24.47%, #4F272F 64.85%);
}

.header .main-nav {
  padding-top: 3.5rem;
  padding-bottom: 4.23rem;
}

.header .main-nav__col_logo {
  margin-top: -2px;
}
