@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url("../../fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  src: url("../../fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  src: url("../../fonts/IBMPlexSans-Medium.ttf");
}


@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 300;
  src: url("../../fonts/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 100;
  src: url("../../fonts/IBMPlexSans-Thin.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  src: url("../../fonts/IBMPlexSans-Bold.ttf");
}

html {
  font-size: 11px;
}

body {
  max-width: 1124px;
  min-width: 550px;
  padding: 0;
  margin: 0 auto;

  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333;
}

.container {
  max-width: 946px;
  min-width: 550px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 820px) {
    & {
      max-width: 600px;
    }
  }

  @media (max-width: 545px) {
      max-width: 400px;
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.social-list {
  list-style: none;
  margin: 0 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: 31px;
    margin-bottom: 10px;
  }

  &__link {
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #BEE956 no-repeat center;
    font-size: 0;
    transition: 0.2s;

    &_inst {
      background-image: url(../../images/instagram.svg);

      &:hover {
        background-image: url(../../images/instagram-green.svg)
      }
    }

    &_lkd {
      background-image: url(../../images/linkedin.svg);

      &:hover {
        background-image: url(../../images/linkedin-green.svg)
      }
    }

    &_tw {
      background-image: url(../../images/twitter.svg);

      &:hover {
        background-image: url(../../images/twitter-green.svg)
      }
    }

    &_ytu {
      background-image: url(../../images/youtube.svg);

      &:hover {
        background-image: url(../../images/youtube-green.svg)
      }
    }

    &_fb {
      background-image: url(../../images/facebook.svg);

      &:hover {
        background-image: url(../../images/facebook-green.svg)
      }
    }

    &:hover {
      box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.10);
      transition: 0.2s;
      background-color: #fff;
    }
  }
}

.section-title {
  font-weight: 500;
  font-size: 4.35rem;
  color: #A3CC40;
  margin: 0;
}

.link {
  color: #fff;
  text-decoration: none;

  &_decoration_underline {
    border-bottom: 1px solid #fff;
  }

  &_transform_uppercase {
    text-transform: uppercase;
  }

  &:hover {
    border-bottom: 1px solid #fff;
  }
}

.button {
  position: relative;

  display: inline-block;
  padding: 0.25rem 0.60rem;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;

  font-weight: 500;
  font-size: 1.09rem;
  text-decoration: none;
  color: #333333;
  transition: 0.2s;

  &_color_white {
    background-color: #fff;
    border: 1px solid #EDEDED;

    &:hover {
      background-color: #A3CC40;
      color: #fff;
      transition: 0.2s;
    }
  }

  &_color_green {
    background-color: #A3CC40;
    color: #fff;

    &:hover {
      box-shadow: 0 0 0 1px rgba(163, 204, 64, 0.62), 0 2px 9px 0 rgba(144, 210, 61, 0.3);

      background-color: #fff;
      color: #A3CC40;
    }
  }
}

.p-street-address {
  font-style: normal;
}
