.table-scroll {
  overflow-x: scroll;
}

.films-timetable {
  &__title {
    margin: 0 0 7.52rem 5.3%;
  }

  .films-timetable__table {
    width: 850px;
    box-sizing: border-box;
    margin: 0 auto 1.32rem;

    @media (max-width: 895px) {
      font-size: 1rem;
    }

    @media (max-width: 550px) {
      min-height: 80vh;
      font-size: 18px;
    }
  }

  &__text {
    max-width: 49.09rem;
    margin: 0 auto;

    font-size: 1rem;
    text-align: center;
  }
}

.table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  font-size: 1.27rem;

  .colgroup__col_first {
    width: 35%;
    box-sizing: border-box;
  }

  .colgroup__col_second {
    width: 30%;
    box-sizing: border-box;
  }

  .colgroup__col_third {
    width: 35%;
    box-sizing: border-box;
  }

  &__row_color_green {
    background-color: #A3CC40;

    font-weight: 600;
    font-size: 1.42em;
    text-align: left;

    .table__col:first-child {
      padding-left: 9%;
    }
  }

  &__tbody {
    line-height: 2.25;
  }

  &__col {
    padding: 0.4em 0.71em 0.65em;

    &_decorated-content {
      display: flex;
      align-items: center;

      &::before {
        content: "";

        display: block;
        width: 12px;
        height: 12px;
        margin-right: 3.14em;
        background: url("../../images/icon-check.svg") no-repeat center;
      }
    }

    &:first-child {
      padding-left: 3%;
    }
  }

  &__col_color_dark-grey {
    background-color: #373737;
  }

  &__col_color_grey {
    background-color: #4C4D4F;
  }
}

.filter-button {
  position: relative;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0 1.81rem 0 0;

  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: left;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 12px;
    height: 12px;
    background: url("../../images/icon-select.svg") no-repeat center;
  }
}