.main-footer {
  &__row_map {
    width: 86.5%;
    height: 421px;

    position: relative;
    z-index: -1;

    margin: 0 auto -2rem;
    text-align: center;

  }

  &__map-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }

  &__row_content {
    width: 100%;
    padding: 8.18rem 7.9% 3.19rem;
    box-sizing: border-box;
    background-color: #A3CC40;
    color: #fff;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 13.8%;
    grid-template-areas:
            'contact navbar'
            'copyright copyright';
  }

  &__col_contact {
    grid-area: contact;
  }

  &__col_nav {
    grid-area: navbar;
  }

  &__nav {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 15.43% 28.9%;

    margin: 0;

    &-title {
      grid-row: 1/2;

      font-weight: 700;
      font-size: 1.81rem;
      text-transform: uppercase;
    }

    &-description {
      margin: 0;
    }
  }

  &__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.09rem;

    display: flex;
    flex-direction: column;
  }

  &__menu-item:not(:last-child) {
    margin-bottom: 1.09rem;
  }

  &__copyright {
    grid-area: copyright;
    font-size: 1.36rem;
    margin: 0;
  }

  &__logo {
    margin: 0 0 1.36rem;
  }

  &__text {
    max-width: 24.45rem;
    margin: 0 0 2.27rem;
    font-size: 1.27rem;
  }

  &__social-list {
    margin: 0 0 3.81rem;
  }
}