.main-header {
  padding-bottom: 28.18rem;
  position: relative;
  background: url("../../images/background-picture.jpg") no-repeat center top;


}

@media (max-width: 720px) {
  .main-header {
    background-size: cover;
    min-height: 75vh;
  }
}

.main-nav {
  padding: 3.63rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__row-wrapper {
    margin-bottom: -1.36rem;
  }

  &__col_logo {
    align-self: flex-end;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 1.27rem;
  }

  &__contact-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__contact-item {
    margin-right: 4.54rem;
  }

  &__link {
    font-weight: 500;
    font-size: 1.09rem;
    line-height: normal;
  }

  &__navbar-list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__navbar-item {
    margin-right: 5.9rem;
  }
}

.logo {
  display: inline-block;

  &__photo {
    display: flex;
  }
}

.button-phone {
  padding-left: 2.45rem;

  &::before {
    content: "";

    width: 12px;
    height: 12px;
    background: url("../../images/icon-phone.svg") no-repeat center;

    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover:before {
    background-image: url(../../images/icon-phone-white.svg);
  }
}

.language-select {
  background-color: transparent;
  border: 0;

  font-weight: 500;
  font-size: 1.09rem;
  text-transform: uppercase;
  color: #fff;

  &__item {
    background-color: #000;
  }
}