.promo {
  position: relative;

  &__title {
    font-weight: 100;
    font-size: 6.18rem;
    color: #fff;
    text-align: center;

    margin: 11.81rem 0 1.81rem;
  }

  &__description {
    font-size: 3.72rem;
    text-align: center;
    color: #fff;
  }
}

.welcome-block {
  position: absolute;
  right: 12%;
  bottom: 5%;


  width: 38.63rem;
  padding: 2.72rem 4.27rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 27px 39px 0 rgba(163, 204, 64, 0.18);

  font-size: 1rem;
}

.welcome-block h3 {
  font-weight: 600;
  font-size: 3rem;

  margin: 0 0 2rem;
}

.welcome-block p:not(:last-of-type) {
  margin: 0 0 1.09rem;
}